@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background: 0, 0, 0;
}
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.connect-kit-container button > div {
  background-color: oklch(var(--s));
  color: black;
}

.connect-kit-container button:hover > div {
  background-color: oklch(var(--s)) !important;
  filter: brightness(75%);
  color: black !important;
}